* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.auth-container {
  background: #020617;
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  background: #0ea5e9;
}

.auth-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-container a {
  color: #38bdf8;
  text-decoration: none;
}
