:root {
  --bg-primary: #0f172a;
  --bg-secondary: #020617;
  --bg-card: #1e293b;

  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;

  --accent: #38bdf8;
  --border: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
